.react-datepicker__header {
  background-color: #ffffff; /* тёмный фон заголовка */
  border-bottom: 1px solid #000000; /* желтая рамка */
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #000000; /* желтый текст */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #000000 !important; /* выбранная дата */
  color: #ffffff !important; /* текст выбранной даты */ 
}

.react-datepicker__day:hover {
  background-color: #fde68a; /* легкий желтый при наведении */
  color: #1f1f1f;
}

.react-datepicker__triangle {
  border-bottom-color: #1f1f1f !important; /* треугольник попапа */
}

.react-datepicker__navigation-icon::before {
  border-color: #8a8a8a; /* стрелки */
}
